.member-card {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  background-color: rgb(255, 170, 127);
}

.member-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
