.header{
  text-shadow: 0cap;
  color:blue;
}
.container{
  margin: 20px 20px;
  padding: 30px 60px;
  background-color: aquamarine;
  border-radius: 1px solid aquamarine;
  height: 360px;
  width:auto;
}
.input{
  background-color: rgb(199, 193, 185);
  border:1 px solid black;
}